<div class="flex h-screen justify-center items-center"*ngIf="loading">
    <i class="pi pi-spin pi-spinner text-primary" style="font-size: 2rem" ></i>
 </div>
<div class="relative z-10 container mx-auto pt-16 sm:pt-24 p-4 flex justify-center min-h-screen"*ngIf="!loading">
    <!-- Heading -->
    <div class="max-w-screen-lg pb-8">
        <div class=" py-8 text-center">
            <p class=" text-primary inline-flex text-[22px] font-medium md:ml-2">
                Privacy Policy
            </p>
        </div>
        <div class="content">
            <p class="pb-3 text-sm sm:text-lg"[innerHTML]="content"></p>
            
        </div>
    </div>
</div>