<div class="container-1 w-full h-fit pt-10">
    <div class="header px-4 sm:px-8 md:px-12 py-8">
        <div class="title text-base sm:text-lg sm:leading-8 font-normal text-black mb-2">home > <span class="text-primary">Blogs</span>
        </div>
        <div class="flex justify-between items-center">
            <div class="heading border-b pb-6 text-[22px] sm:text-[38px] leading-6 sm:leading-12 font-medium">Blogs you should refer along with travelling</div>

        </div>
    </div>
    <div class="details px-4 sm:px-8 md:px-12 mb-12">
        <div class="blogs-details">
            <div class="blogs grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-4 ">
                <div class="blog border bg-white flex flex-col justify-between rounded-lg p-2 md:p-4"
                    *ngFor="let blog of blogs">
                    <div class="image mb-4 relative">
                        <img src="{{blog.img}}" alt="image" class="w-full object-cover">
                        <div class="share absolute right-[5%] top-[5%]">
                            <div class="bg-white rounded-2xl px-3 py-1 flex items-center text-primary cursor-pointer"(click)="shareLink()">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.6667 4.1665V7.49984C5.83333 8.33317 3.33333 12.4998 2.5 16.6665C4.58333 13.7498 7.5 12.4165 11.6667 12.4165V15.8332L17.5 9.99984L11.6667 4.1665ZM13.3333 8.1915L15.1417 9.99984L13.3333 11.8082V10.7498H11.6667C9.94167 10.7498 8.39167 11.0665 6.95 11.5415C8.11667 10.3832 9.61667 9.47484 11.9 9.1665L13.3333 8.9415V8.1915Z" fill="#869F44"/>
                                    </svg>
                                    
                                Share</div>
                        </div>
                    </div>
                    <div class="title mb-2 text-base font-semibold  text-primary">
                        <span class="bg-[#D6E8A733] p-2 rounded-lg">Travel</span>
                    </div>
                    <div class="sbuTitle mb-4 text-base sm:text-lg md:text-xl font-normal text-[#475467]">{{blog.title}}</div>
                    <div class="button">
                        <p-button label="Read More" icon="pi pi-arrow-right" iconPos="right"
                            styleClass="px-8 py-2 p-button-outlined  p-button-raised text-nowrap"></p-button>
                    </div>
                </div>
            </div>
            <div class="pegination flex justify-center pt-6">
                <div class="flex gap-4">
                    <span class="text-primary text-lg md:text-xl font-medium">1</span>
                    <span class="text-[#606060] text-lg md:text-xl font-medium">2</span>
                    <span class="text-[#606060] text-lg md:text-xl font-medium">3</span>
                    <span class="text-[#606060] text-lg md:text-xl font-medium">></span>
                </div>
            </div>
        </div>
    </div>
</div>