.social-links{
    a:hover svg {
        transform: scale(1.2);
        transition: transform 0.2s ease-in-out; /* Smooth animation */
    }
}
.links-container{
    flex-direction: row;
    @media(max-width:470px){
        flex-wrap: wrap;
    }
}