<div class="w-full h-fit container-1">
    <p-carousel [value]="bannerImage" [numVisible]="1" [numScroll]="1" [circular]="true">
        <ng-template pTemplate="item" *ngFor="let banner of bannerImage">
            <div class="relative">
                <div class="max-h-[800px] overflow-hidden">
                    <img src="../../../../assets/home/home_banner.jpg" alt="banner" class="w-full max-h-[650px] object-cover" />
                </div>
                <div class="absolute top-[30%] md:top-[25%] lg:top-[20%] px-4 sm:px-8 md:px-12">
                    <div class="text-sm sm:text-[20px] leading-8 font-normal tracking-[2%] text-white">
                        Explore Top Destinations of Philippines
                    </div>
                    <div
                        class="text-lg sm:text-[30px] md:text-[40px] lg:text-[58px] leading-normal font-normal text-white">
                        Explore & Travel <br> Philippines along with <br> exciting people

                    </div>
                </div>
                <div
                    class="absolute bottom-[50%] sm:bottom-[30%] md:bottom-[20%] right-[50%] sm:right-[30%] md:right-[25%] lg:right-[20%]">
                    <div class="location-point relative ">
                        <div class="point w-6 h-6 border-4 rounded-full border-white] ">
                            <div class="w-4 h-4 border-4 rounded-full border-[#869F44] ">
                                <div class=" w-2 h-2 border-4 rounded-full border-[#9BFF1C] ">
                                </div>
                            </div>
                        </div>
                        <div class="wave absolute inset-0 rounded-full bg-[#9BFF1C] opacity-50"></div>

                        <div class="">
                            <svg class="absolute top-[30%] left-[28%]" width="87" height="32" viewBox="0 0 87 32"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.676432 5.60791C0.676432 8.55343 3.06425 10.9412 6.00977 10.9412C8.95528 10.9412 11.3431 8.55343 11.3431 5.60791C11.3431 2.66239 8.95528 0.274577 6.00977 0.274577C3.06425 0.274577 0.676432 2.66239 0.676432 5.60791ZM31.8708 30.6079L31.1758 31.3269L31.4665 31.6079H31.8708V30.6079ZM86.0098 31.6079C86.562 31.6079 87.0098 31.1602 87.0098 30.6079C87.0098 30.0556 86.562 29.6079 86.0098 29.6079V31.6079ZM5.31473 6.32688L31.1758 31.3269L32.5658 29.8889L6.7048 4.88894L5.31473 6.32688ZM31.8708 31.6079H86.0098V29.6079H31.8708V31.6079Z"
                                    fill="#9BFF1C" />
                            </svg>

                        </div>
                        <div class="absolute text-[20px] -right-36 font-normal text-white leanding-8">
                            Phuket
                        </div>
                        <div class="absolute w-[180px] sm:w-[200px] bg-white border -bottom-12 sm:-bottom-16">

                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
<div class="w-full h-fit bg-[#F7FFED] container-2 pb-4">
    <div class="header px-4 sm:px-8 md:px-12 py-8">
        <div class="title text-base sm:text-lg sm:leading-8 font-normal text-black mb-2">What you can do ?</div>
        <div class="flex justify-between items-center">
            <div class="heading text-lg sm:text-[30px] leading-6 sm:leading-12 font-semibold">Activities are <span
                    class="text-primary">NOT</span> less than Adventures !</div>
            <div class="view-all flex items-center text-lg leading-8 font-normal cursor-pointer whitespace-nowrap">View
                All
                <svg class="ml-1" width="64" height="64" viewBox="0 0 64 64" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_359_1932)">
                        <rect x="16" y="13.5" width="32" height="32" rx="16" fill="white"
                            shape-rendering="crispEdges" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M41.1653 30.2444C41.5764 29.8333 41.5764 29.1668 41.1653 28.7558L35.5513 23.1417C35.1402 22.7306 34.4737 22.7306 34.0626 23.1417C33.6516 23.5528 33.6516 24.2193 34.0626 24.6304L37.8797 28.4474L23.5789 28.4474C22.9975 28.4475 22.5263 28.9187 22.5263 29.5001C22.5263 30.0814 22.9975 30.5527 23.5789 30.5527L37.8797 30.5527L34.0626 34.3698C33.6516 34.7809 33.6516 35.4474 34.0626 35.8584C34.4737 36.2695 35.1402 36.2695 35.5513 35.8584L41.1653 30.2444Z"
                            fill="#0E3D4D" />
                    </g>
                    <defs>
                        <filter id="filter0_d_359_1932" x="0.470588" y="0.794117" width="63.0588" height="63.0588"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="2.82353" />
                            <feGaussianBlur stdDeviation="7.76471" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_359_1932" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_359_1932"
                                result="shape" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="card-details px-4 sm:px-8 md:px-12">
        <p-carousel [value]="cards" [numVisible]="4" [numScroll]="1" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-card pTemplate="item">
                <div class="relative">
                    <div class=" overflow-hidden">
                        <img src="{{card.img}}" alt="banner" class="h-96 rounded-[30px] object-cover" />
                    </div>
                    <!-- <div class="flex flex-col absolute bottom-[10%] px-6">
                        <div class="  flex flex-col mb-6">
                            <div class="text-[20px] leading-8 font-semibold tracking-[2%] text-white">
                                {{card.title}}
                            </div>
                            <div></div>
                            <div class="text-base leading-5 font-normal tracking-[2%] text-white">
                                {{card.subTitle}} 
                            </div>
                        </div>
                        <div class="button mx-auto">
                            <p-button label="Read More" styleClass="p-button-outlined p-button-secondary"></p-button>

                        </div>
                    </div> -->
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
<!-- container-3 -->
<div class="w-full h-fit bg-[#F7FFED] container-3 pb-4"id="container-3">
    <div class="header px-4 sm:px-8 md:px-12 py-8">
        <div class="title text-base sm:text-lg sm:leading-8 font-normal text-black mb-2">Explore & Travel Along popular
            <br class="block sm:hidden"> destinations
        </div>
        <div class="flex justify-between items-center">
            <div class="heading text-[22px] sm:text-[30px] leading-6 sm:leading-12 font-semibold">Tours & packages</div>

        </div>
    </div>
    <!-- first details  -->
    <div class="details h-full px-4 sm:px-8 md:px-12 mb-12 ">
        <div class="bg-white p-4 rounded-[20px] h-full flex flex-col lg:flex-row gap-8">
            <div class="left w-full lg:w-[50%]">
                <div class="image">
                    <img src="../../../../assets/home/container3/image.png" class="rounded-[30px] w-full object-cover"
                        alt="image">
                </div>
            </div>
            <div class="right w-full lg:w-[55%]">
                <div>
                    <div class="text-[22px] leading-8 font-semibold text-[#0E3D4D] mb-3">Boracay</div>
                    <div class="w-[100%] sm:w-[90%] mb-3" style="border: 1px solid #30A5BE;">
                    </div>
                    <div class="text-base font-semibold leading-5 mb-3">Here are you must-know Boracay tips for every
                        month!</div>
                    <div class="flex flex-col sm:flex-row mb-6">
                        <div class="border-r-1 w-full sm:w-1/2 mb-4 sm:mb-0 ">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Visiting Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌞 Best from Nov-May
                                </div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌧️ Avoid heavy June
                                    rains</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Travel Tpis</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">✈️ Fly via Caticlan i
                                    Dec-Feb</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌴 Fewer tourists in
                                    January</div>
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Packing Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🧴 Sunscreen is key in
                                    March</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">👕 Bring light clothes
                                    for April heat</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Adventure Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060]  mb-2">🪁 Kite surfing in Feb
                                </div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🐠 Snorkeling is ideal
                                    in April</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p-button label="Check out now" icon="pi pi-arrow-right" iconPos="right"(onClick)="toursDetails()"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- second details  -->
    <div class="details h-full px-4 sm:px-8 md:px-12 mb-12 ">
        <div class="bg-white p-4 rounded-[20px] h-full flex flex-col lg:flex-row gap-8">
            <div class="left w-full lg:w-[55%] order-2 lg:order-1">
                <div>
                    <div class="text-[22px] leading-8 font-semibold text-[#0E3D4D] mb-3">Balesin, Quezon</div>
                    <div class="w-[100%] sm:w-[90%] mb-3" style="border: 1px solid #30A5BE;">
                    </div>
                    <div class="text-base font-semibold leading-5 mb-3">Here are your essential Balesin tips for every
                        month!</div>
                    <div class="flex flex-col sm:flex-row mb-6">
                        <div class="border-r-1 w-full sm:w-1/2 mb-4 sm:mb-0 ">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Visiting Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌞 Ideal from
                                    May-October</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">💨 Avoid July-August
                                    winds</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Travel Tpis</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🚁 Opt for private
                                    charters</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🚤 Book island transfers
                                    in advance</div>
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Packing Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">👒 April essentials: Hat
                                    & sunglasses</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🩴 Pack waterproof
                                    footwear for beaches</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Adventure Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060]  mb-2">🚴‍♂️ Cycling trails
                                    are perfect in February</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌿 Explore the island’s
                                    nature trails in March</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p-button label="Check out now" icon="pi pi-arrow-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
            <div class="right w-full lg:w-[50%] order-1 lg:order-2">
                <div class="image">
                    <img src="../../../../assets/home/container3/image2.png" class="rounded-[30px] w-full object-cover"
                        alt="image">
                </div>
            </div>
        </div>
    </div>
    <!-- third details  -->
    <div class="details h-full px-4 sm:px-8 md:px-12 mb-12 ">
        <div class="bg-white p-4 rounded-[20px] h-full flex flex-col lg:flex-row gap-8">
            <div class="left w-full lg:w-[50%]">
                <div class="image">
                    <img src="../../../../assets/home/container3/image3.png" class="rounded-[30px] w-full object-cover"
                        alt="image">
                </div>
            </div>
            <div class="right w-full lg:w-[55%]">
                <div>
                    <div class="text-[22px] leading-8 font-semibold text-[#0E3D4D] mb-3">Siargao, Surigao del Norte
                    </div>
                    <div class="w-[100%] sm:w-[90%] mb-3" style="border: 1px solid #30A5BE;">
                    </div>
                    <div class="text-base font-semibold leading-5 mb-3">Here are your top Siargao tips for every month!
                    </div>
                    <div class="flex flex-col sm:flex-row mb-6">
                        <div class="border-r-1 w-full sm:w-1/2 mb-4 sm:mb-0 ">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Visiting Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌞 Ideal from
                                    May-October</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌧️ Skip October for
                                    rains</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Travel Tpis</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">✈️ Fly direct to Siargao
                                </div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌟 Hire a local guide
                                    for hidden gems</div>
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Packing Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🕶️ Essentials:
                                    Sunglasses & wide-brim hat</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">👟 Pack water shoes for
                                    rocky shores</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Adventure Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060]  mb-2">🏄‍♂️ Catch the best
                                    surf waves in July</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌿 Discover hidden
                                    lagoons in the dry season</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p-button label="Check out now" icon="pi pi-arrow-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- four details  -->
    <div class="details h-full px-4 sm:px-8 md:px-12 mb-12 ">
        <div class="bg-white p-4 rounded-[20px] h-full flex flex-col lg:flex-row gap-8">
            <div class="left w-full lg:w-[55%] order-2 lg:order-1">
                <div>
                    <div class="text-[22px] leading-8 font-semibold text-[#0E3D4D] mb-3">El Nido, Palawan</div>
                    <div class="w-[100%] sm:w-[90%] mb-3" style="border: 1px solid #30A5BE;">
                    </div>
                    <div class="text-base font-semibold leading-5 mb-3">Check out these must-have El Nido tips for every
                        month!</div>
                    <div class="flex flex-col sm:flex-row mb-6">
                        <div class="border-r-1 w-full sm:w-1/2 mb-4 sm:mb-0 ">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Visiting Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌞 Best from Dec-Apr
                                </div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌧️ Avoid June-Aug rains
                                </div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Travel Tpis</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🛫 Opt for direct
                                    charters</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🏨 Stay beachfront for
                                    easy access</div>
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Packing Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🕶️ Must-have: Polarized
                                    shades</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🧥 Lightweight rain
                                    jacket</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Adventure Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060]  mb-2">🚣‍♂️ Discover hidden
                                    lagoons in February</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌿 Perfect for trekking
                                    in cooler months</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p-button label="Check out now" icon="pi pi-arrow-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
            <div class="right w-full lg:w-[50%] order-1 lg:order-2">
                <div class="image">
                    <img src="../../../../assets/home/container3/image4.png" class="rounded-[30px] w-full object-cover"
                        alt="image">
                </div>
            </div>
        </div>
    </div>
    <!-- five details  -->
    <div class="details h-full px-4 sm:px-8 md:px-12 mb-12 ">
        <div class="bg-white p-4 rounded-[20px] h-full flex flex-col lg:flex-row gap-8">
            <div class="left w-full lg:w-[50%]">
                <div class="image">
                    <img src="../../../../assets/home/container3/image5.png" class="rounded-[30px] w-full object-cover"
                        alt="image">
                </div>
            </div>
            <div class="right w-full lg:w-[55%]">
                <div>
                    <div class="text-[22px] leading-8 font-semibold text-[#0E3D4D] mb-3">Coron, Palawan</div>
                    <div class="w-[100%] sm:w-[90%] mb-3" style="border: 1px solid #30A5BE;">
                    </div>
                    <div class="text-base font-semibold leading-5 mb-3">Discover your essential Coron tips for every
                        month!</div>
                    <div class="flex flex-col sm:flex-row mb-6">
                        <div class="border-r-1 w-full sm:w-1/2 mb-4 sm:mb-0 ">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Visiting Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌞 Best from Nov-May
                                </div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌧️ Avoid September
                                    showers</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Travel Tpis</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">✈️ Fly straight to
                                    Busuanga</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🚤 Book boat tours early
                                    for popular spots</div>
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Packing Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🕶️ Don’t forget your
                                    shades</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌊 Pack a waterproof
                                    phone case</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Adventure Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060]  mb-2">🏝️ Discover stunning
                                    lagoons in February</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🚁 Enjoy helicopter
                                    tours for a bird’s-eye view</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p-button label="Check out now" icon="pi pi-arrow-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- six details  -->
    <div class="details h-full px-4 sm:px-8 md:px-12 mb-12">
        <div class="bg-white p-4 rounded-[20px] h-full flex flex-col lg:flex-row gap-8">
            <div class="left w-full lg:w-[55%] order-2 lg:order-1">
                <div>
                    <div class="text-[22px] leading-8 font-semibold text-[#0E3D4D] mb-3">Pamalican Island Palawan</div>
                    <div class="w-[100%] sm:w-[90%] mb-3" style="border: 1px solid #30A5BE;">
                    </div>
                    <div class="text-base font-semibold leading-5 mb-3">Uncover your must-know Pamalican Island tips for
                        every month!</div>
                    <div class="flex flex-col sm:flex-row mb-6">
                        <div class="border-r-1 w-full sm:w-1/2 mb-4 sm:mb-0 ">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Visiting Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌞 Prime time: Dec-April
                                </div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🌧️ Avoid August for
                                    storms</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Travel Tpis</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🛥️ Use resort transfers
                                </div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🏖️ Plan for exclusive
                                    resort stays</div>
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2">
                            <div class="mb-4">
                                <div class="text-base leading-5 font-medium text-primary mb-3">Packing Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🕶️ Pack polarized
                                    sunglasses</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">👒 Don’t forget a
                                    wide-brim hat</div>
                            </div>
                            <div>
                                <div class="text-base leading-5 font-medium text-primary mb-3">Adventure Tips</div>
                                <div class="text-base leading-5 font-light text-[#606060]  mb-2">🏝️ Explore hidden
                                    beaches in March</div>
                                <div class="text-base leading-5 font-light text-[#606060] mb-2">🐠 Enjoy snorkeling in
                                    clear waters</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p-button label="Check out now" icon="pi pi-arrow-right" iconPos="right"></p-button>
                    </div>
                </div>
            </div>
            <div class="right w-full lg:w-[50%] order-1 lg:order-2">
                <div class="image">
                    <img src="../../../../assets/home/container3/image6.png" class="rounded-[30px] w-full object-cover"
                        alt="image">
                </div>
            </div>
        </div>
    </div>

</div>
<!-- container-4  -->
<div class="container-4 w-full h-fit bg-[#F7FFED] pb-4">
    <div class="header px-4 sm:px-8 md:px-12 py-8">
        <div class="title text-base sm:text-lg sm:leading-8 font-normal text-black mb-2">Gallery of our trips</div>
        <div class="flex justify-between items-center">
            <div class="heading text-lg sm:text-[30px] leading-6 sm:leading-12 font-semibold">Completed journeys <span
                    class="text-primary">NOT</span> less than memories</div>
            <div class="view-all flex items-center text-lg leading-8 font-normal cursor-pointer whitespace-nowrap">View
                All
                <svg class="ml-1" width="64" height="64" viewBox="0 0 64 64" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_359_1932)">
                        <rect x="16" y="13.5" width="32" height="32" rx="16" fill="white"
                            shape-rendering="crispEdges" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M41.1653 30.2444C41.5764 29.8333 41.5764 29.1668 41.1653 28.7558L35.5513 23.1417C35.1402 22.7306 34.4737 22.7306 34.0626 23.1417C33.6516 23.5528 33.6516 24.2193 34.0626 24.6304L37.8797 28.4474L23.5789 28.4474C22.9975 28.4475 22.5263 28.9187 22.5263 29.5001C22.5263 30.0814 22.9975 30.5527 23.5789 30.5527L37.8797 30.5527L34.0626 34.3698C33.6516 34.7809 33.6516 35.4474 34.0626 35.8584C34.4737 36.2695 35.1402 36.2695 35.5513 35.8584L41.1653 30.2444Z"
                            fill="#0E3D4D" />
                    </g>
                    <defs>
                        <filter id="filter0_d_359_1932" x="0.470588" y="0.794117" width="63.0588" height="63.0588"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="2.82353" />
                            <feGaussianBlur stdDeviation="7.76471" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.12 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_359_1932" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_359_1932"
                                result="shape" />
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>
    </div>

    <div class="details h-full px-4 sm:px-8 md:px-12 mb-12">
        <div class="flex flex-col sm:flex-row gap-4 mb-8">
            <div class="w-full sm:w-[40%] md:w-[35%] relative">
                <!-- this is for shadow  -->

                <div class="w-full h-full absolute rounded-[20px] block sm:hidden"
                    style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 18.3%, rgba(0, 0, 0, 0.382923) 34.39%, rgba(0, 0, 0, 0.1) 52.41%);">
                </div>

                <div class="w-full h-full absolute rounded-[20px] hidden sm:block"
                    style="background: linear-gradient(360deg, #000000 0.33%, rgba(0, 0, 0, 0.549556) 13.52%, rgba(0, 0, 0, 0) 66.18%)">
                </div>

                <div class="image overflow-hidden h-[300px] rounded-[20px]">
                    <img src="../../../../assets/home/container4/img2.png" alt="image"
                        class="object-cover w-full h-full">
                </div>

                <div class="data absolute left-[5%] bottom-[10%]">
                    <div class="flex flex-wrap mb-4">
                        <div class="title font-bold text-lg sm:text-[28px] text-white mr-2 ">Fort Santiago
                        </div>

                        <div class="text-base font-normal flex  items-center text-white">
                            <svg style="width:20px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.875 9.75L11.6891 7.4355C11.4234 7.15429 11.0631 6.99632 10.6875 6.99632C10.3119 6.99632 9.95158 7.15429 9.68592 7.4355L3.25 14.25M2.54167 0.75L12.4583 0.75C13.2407 0.75 13.875 1.42157 13.875 2.25L13.875 12.75C13.875 13.5784 13.2407 14.25 12.4583 14.25L2.54167 14.25C1.75926 14.25 1.125 13.5784 1.125 12.75L1.125 2.25C1.125 1.42157 1.75926 0.75 2.54167 0.75ZM6.79167 5.25C6.79167 6.07843 6.1574 6.75 5.375 6.75C4.5926 6.75 3.95833 6.07843 3.95833 5.25C3.95833 4.42157 4.5926 3.75 5.375 3.75C6.1574 3.75 6.79167 4.42157 6.79167 5.25Z"
                                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            All Photos (240)
                        </div>
                    </div>

                    <div class="line flex gap-6 mb-1">
                        <div class="w-[20%] border "></div>
                        <div class="w-[50%] border"></div>
                    </div>

                    <div class="subTitle font-normal text-sm sm:text-base text-white w-full sm:w-[75%]">Boracay is a
                        small island in the central Philippines...</div>
                </div>

            </div>
            <div class="w-full sm:w-[60%] md:w-[65%] relative">

                <!-- this is for shadow  -->

                <div class="w-full h-full absolute rounded-[20px] block sm:hidden"
                    style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 18.3%, rgba(0, 0, 0, 0.382923) 34.39%, rgba(0, 0, 0, 0.1) 52.41%);">
                </div>

                <div class="w-full h-full absolute rounded-[20px] hidden sm:block"
                    style="background: linear-gradient(360deg, #000000 0.33%, rgba(0, 0, 0, 0.549556) 13.52%, rgba(0, 0, 0, 0) 66.18%)">
                </div>

                <div class="image overflow-hidden rounded-[20px] h-[300px]">
                    <img src="../../../../assets/home/container4/img1.png" alt="image"
                        class="object-cover w-full h-full ">
                </div>

                <div class="data absolute left-[5%] bottom-[10%]">

                    <div class="flex flex-wrap mb-4">
                        <div class="title font-bold text-lg sm:text-[28px] text-white mr-2 ">Boracay
                        </div>

                        <div class="text-base font-normal flex  items-center text-white">
                            <svg style="width:20px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.875 9.75L11.6891 7.4355C11.4234 7.15429 11.0631 6.99632 10.6875 6.99632C10.3119 6.99632 9.95158 7.15429 9.68592 7.4355L3.25 14.25M2.54167 0.75L12.4583 0.75C13.2407 0.75 13.875 1.42157 13.875 2.25L13.875 12.75C13.875 13.5784 13.2407 14.25 12.4583 14.25L2.54167 14.25C1.75926 14.25 1.125 13.5784 1.125 12.75L1.125 2.25C1.125 1.42157 1.75926 0.75 2.54167 0.75ZM6.79167 5.25C6.79167 6.07843 6.1574 6.75 5.375 6.75C4.5926 6.75 3.95833 6.07843 3.95833 5.25C3.95833 4.42157 4.5926 3.75 5.375 3.75C6.1574 3.75 6.79167 4.42157 6.79167 5.25Z"
                                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            All Photos (240)
                        </div>
                    </div>

                    <div class="line flex gap-6 mb-1">
                        <div class="w-[20%] border "></div>
                        <div class="w-[50%] border"></div>
                    </div>

                    <div class="subTitle font-normal text-sm sm:text-base text-white w-full sm:w-[75%]">Boracay is a
                        small island in the central Philippines. It's known for its resorts and Along the beaches. Along
                        the west coast,</div>
                </div>

            </div>

        </div>
        <div class="flex flex-col sm:flex-row gap-4 ">
            <div class="w-full relative">

                <!-- this is for shadow  -->

                <div class="w-full h-full absolute rounded-[20px] block sm:hidden"
                    style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 18.3%, rgba(0, 0, 0, 0.382923) 34.39%, rgba(0, 0, 0, 0.1) 52.41%);">
                </div>

                <div class="w-full h-full absolute rounded-[20px] hidden sm:block"
                    style="background: linear-gradient(360deg, #000000 0.33%, rgba(0, 0, 0, 0.549556) 13.52%, rgba(0, 0, 0, 0) 66.18%)">
                </div>

                <div class="image overflow-hidden h-[300px] rounded-[20px]">
                    <img src="../../../../assets/home/container4/image3.png" alt="image"
                        class="object-cover w-full h-full">
                </div>

                <div class="data absolute left-[5%] bottom-[10%]">

                    <div class="flex flex-wrap mb-4">
                        <div class="title font-bold text-lg sm:text-[28px] text-white mr-2 ">Puka Beach
                        </div>

                        <div class="text-base font-normal flex  items-center text-white">
                            <svg style="width:20px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.875 9.75L11.6891 7.4355C11.4234 7.15429 11.0631 6.99632 10.6875 6.99632C10.3119 6.99632 9.95158 7.15429 9.68592 7.4355L3.25 14.25M2.54167 0.75L12.4583 0.75C13.2407 0.75 13.875 1.42157 13.875 2.25L13.875 12.75C13.875 13.5784 13.2407 14.25 12.4583 14.25L2.54167 14.25C1.75926 14.25 1.125 13.5784 1.125 12.75L1.125 2.25C1.125 1.42157 1.75926 0.75 2.54167 0.75ZM6.79167 5.25C6.79167 6.07843 6.1574 6.75 5.375 6.75C4.5926 6.75 3.95833 6.07843 3.95833 5.25C3.95833 4.42157 4.5926 3.75 5.375 3.75C6.1574 3.75 6.79167 4.42157 6.79167 5.25Z"
                                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            All Photos (240)
                        </div>
                    </div>

                    <div class="line flex gap-6 mb-1">
                        <div class="w-[20%] border "></div>
                        <div class="w-[50%] border"></div>
                    </div>

                    <div class="subTitle font-normal text-sm sm:text-base text-white w-full sm:w-[75%]">Boracay is a
                        small island in the central Philippines. It's known for its resorts and beaches. ......</div>
                </div>

            </div>
            <div class="w-full relative">

                <!-- this is for shadow  -->

                <div class="w-full h-full absolute rounded-[20px] block sm:hidden"
                    style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 18.3%, rgba(0, 0, 0, 0.382923) 34.39%, rgba(0, 0, 0, 0.1) 52.41%);">
                </div>

                <div class="w-full h-full absolute rounded-[20px] hidden sm:block"
                    style="background: linear-gradient(360deg, #000000 0.33%, rgba(0, 0, 0, 0.549556) 13.52%, rgba(0, 0, 0, 0) 66.18%)">
                </div>

                <div class="image overflow-hidden rounded-[20px] h-[300px]">
                    <img src="../../../../assets/home/container4/image4.png" alt="image"
                        class="object-cover w-full h-full ">
                </div>
                <div class="data absolute left-[5%] bottom-[10%]">

                    <div class="flex flex-wrap mb-4">
                        <div class="title font-bold text-lg sm:text-[28px] text-white mr-2 ">Lind Boraca
                        </div>

                        <div class="text-base font-normal flex  items-center text-white">
                            <svg style="width:20px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.875 9.75L11.6891 7.4355C11.4234 7.15429 11.0631 6.99632 10.6875 6.99632C10.3119 6.99632 9.95158 7.15429 9.68592 7.4355L3.25 14.25M2.54167 0.75L12.4583 0.75C13.2407 0.75 13.875 1.42157 13.875 2.25L13.875 12.75C13.875 13.5784 13.2407 14.25 12.4583 14.25L2.54167 14.25C1.75926 14.25 1.125 13.5784 1.125 12.75L1.125 2.25C1.125 1.42157 1.75926 0.75 2.54167 0.75ZM6.79167 5.25C6.79167 6.07843 6.1574 6.75 5.375 6.75C4.5926 6.75 3.95833 6.07843 3.95833 5.25C3.95833 4.42157 4.5926 3.75 5.375 3.75C6.1574 3.75 6.79167 4.42157 6.79167 5.25Z"
                                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            All Photos (240)
                        </div>
                    </div>

                    <div class="line flex gap-6 mb-1">
                        <div class="w-[20%] border "></div>
                        <div class="w-[50%] border"></div>
                    </div>

                    <div class="subTitle font-normal text-sm sm:text-base text-white w-full sm:w-[75%]">Boracay is a
                        small island in the central Philippines. It's known for its resorts and .....</div>
                </div>

            </div>
            <div class="w-full relative">

                <!-- this is for shadow  -->

                <div class="w-full h-full absolute rounded-[20px] block sm:hidden"
                    style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 18.3%, rgba(0, 0, 0, 0.382923) 34.39%, rgba(0, 0, 0, 0.1) 52.41%);">
                </div>

                <div class="w-full h-full absolute rounded-[20px] hidden sm:block"
                    style="background: linear-gradient(360deg, #000000 0.33%, rgba(0, 0, 0, 0.549556) 13.52%, rgba(0, 0, 0, 0) 66.18%)">
                </div>

                <div class="image overflow-hidden rounded-[20px] h-[300px]">
                    <img src="../../../../assets/home/container4/image5.png" alt="image"
                        class="object-cover w-full h-full ">
                </div>

                <div class="data absolute left-[5%] bottom-[10%]">

                    <div class="flex flex-wrap mb-4">
                        <div class="title font-bold text-lg sm:text-[28px] text-white mr-2 ">Banaue Rice
                            Terraces
                        </div>
                        <div class="text-base font-normal flex  items-center text-white">
                            <svg style="width:20px" width="15" height="15" viewBox="0 0 15 15" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.875 9.75L11.6891 7.4355C11.4234 7.15429 11.0631 6.99632 10.6875 6.99632C10.3119 6.99632 9.95158 7.15429 9.68592 7.4355L3.25 14.25M2.54167 0.75L12.4583 0.75C13.2407 0.75 13.875 1.42157 13.875 2.25L13.875 12.75C13.875 13.5784 13.2407 14.25 12.4583 14.25L2.54167 14.25C1.75926 14.25 1.125 13.5784 1.125 12.75L1.125 2.25C1.125 1.42157 1.75926 0.75 2.54167 0.75ZM6.79167 5.25C6.79167 6.07843 6.1574 6.75 5.375 6.75C4.5926 6.75 3.95833 6.07843 3.95833 5.25C3.95833 4.42157 4.5926 3.75 5.375 3.75C6.1574 3.75 6.79167 4.42157 6.79167 5.25Z"
                                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            All Photos (240)
                        </div>
                    </div>

                    <div class="line flex gap-6 mb-1">
                        <div class="w-[20%] border "></div>
                        <div class="w-[50%] border"></div>
                    </div>

                    <div class="subTitle font-normal text-sm sm:text-base text-white w-full sm:w-[75%]">Banaue is a
                        small island in the central Philippines. It's known for its resorts and beaches....</div>
                </div>

            </div>
        </div>

        <div class="button my-6 flex justify-center">
            <p-button label="Book Your Travel Now" icon="pi pi-arrow-right" iconPos="right"
                styleClass="px-10"></p-button>
        </div>
    </div>

</div>
<!-- container-5  -->
<div class="container-5 w-full h-fit bg-[#ECFAFF] pb-4">
    <div class="header px-4 sm:px-8 md:px-12 py-8">
        <div class="title text-base sm:text-lg sm:leading-8 font-normal text-black mb-2">Insights, tips, and stories to
            inspire your travels</div>
        <div class="flex justify-between items-center">
            <div class="heading text-lg sm:text-[30px] leading-6 sm:leading-12 font-semibold">Blogs</div>
        </div>
    </div>

    <div class="details px-4 sm:px-8 md:px-12 mb-12">
        <div class="blogs-details">
            <div class="blogs flex flex-col sm:flex-row gap-2 md:gap-6">
                <div class="blog bg-white flex flex-col justify-between rounded-[30px] p-2 md:p-4"
                    *ngFor="let blog of blogs">
                    <div class="image mb-4 ">
                        <img src="{{blog.img}}" alt="image" class="w-full object-cover">
                    </div>
                    <div class="title mb-2 text-lg font-semibold">{{blog.title}}</div>
                    <div class="sbuTitle mb-4 text-base font-normal text-[#475467]">{{blog.subTitle}}</div>
                    <div class="button">
                        <p-button label="Read More" icon="pi pi-arrow-right" iconPos="right"
                            styleClass="px-10 p-button-outlined  p-button-raised text-nowrap"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- container-6  -->
<div class="container-6 w-full h-fit pb-4">

    <div class="header px-4 sm:px-8 md:px-12 py-8">
        <div class="title text-base sm:text-lg sm:leading-8 font-normal text-black mb-2">We’d love to hear from you.
            Please fill out this form.</div>
        <div class="flex justify-between items-center">
            <div class="heading text-lg sm:text-[30px] leading-6 sm:leading-12 font-semibold">Stories, Issues,
                Suggestions, Experiences & Feedbacks</div>
        </div>
    </div>

    <div class="details  bg-white px-4 sm:px-8 md:px-12 mb-12">
        <div class=" rounded-[30px] p-4 md:p-8 flex flex-col md:flex-row gap-8"style="box-shadow: 0px 7px 20px 0px #00000026;">
            <div class="left w-full md:w-[50%] ">
                <div class="image w-full max-h-[500px] rounded-[30px] overflow-hidden">
                    <img src="../../../../assets/home/feedbacks.png" alt="image" class="w-full max-h-[600px] rounded-[30px] object-cover">
                </div>
            </div>
            <div class="right w-full md:w-[50%]">
                <div class="feedbacks-form">
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <div class=" flex justify-between gap-4">
                            <!-- First Name -->
                            <div class="mb-4 w-full">
                                <label for="firstName" class="block text-sm font-medium text-gray-700 mb-1">First
                                    Name</label>
                                <input id="firstName" type="text" pInputText formControlName="firstName"
                                    placeholder="Enter first name"
                                    class="w-full px-4 py-2 border border-[#D0D5DD] rounded-md focus:outline-none focus:shadow-none focus:border-[#D0D5DD] focus:placeholder-transparent" />
                                <div *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched"
                                    class="text-red-500 text-sm mt-1">First Name is required</div>
                            </div>

                            <!-- Last Name -->
                            <div class="mb-4 w-full">
                                <label for="lastName" class="block text-sm font-medium text-gray-700 mb-1">Last
                                    Name</label>
                                <input id="lastName" type="text" pInputText formControlName="lastName"
                                    placeholder="Enter last name"
                                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none  focus:shadow-none focus:border-[#D0D5DD] focus:placeholder-transparent" />
                                <div *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched"
                                    class="text-red-500 text-sm mt-1">Last Name is required</div>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="mb-4">
                            <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Email</label>
                            <input id="email" type="email" pInputText formControlName="email" placeholder="Enter email"
                                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none  focus:shadow-none focus:border-[#D0D5DD] focus:placeholder-transparent" />
                            <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                                class="text-red-500 text-sm mt-1">A valid email is required</div>
                        </div>

                        <!-- Phone Number -->
                        <div class="mb-4">
                            <label for="phoneNumber" class="block text-sm font-medium text-gray-700 mb-1">Phone
                                Number</label>
                            <input id="phoneNumber" type="number" pInputText formControlName="phoneNumber"
                                placeholder="Enter phone"
                                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none  focus:shadow-none focus:border-[#D0D5DD] focus:placeholder-transparent" />
                            <div *ngIf="contactForm.get('phoneNumber')?.invalid && contactForm.get('phoneNumber')?.touched"
                                class="text-red-500 text-sm mt-1">Phone number is required</div>
                        </div>

                        <!-- Message -->
                        <div class="mb-6">
                            <label for="message" class="block text-sm font-medium text-gray-700 mb-1">Message</label>
                            <textarea id="message" pInputTextarea rows="4" formControlName="message"
                                placeholder="Enter message"
                                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:shadow-none focus:border-[#D0D5DD] focus:placeholder-transparent"></textarea>
                            <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
                                class="text-red-500 text-sm mt-1">Message is required</div>
                        </div>

                        <!-- Submit Button -->
                        <p-button label="Get in Touch" styleClass=" py-3 px-6 w-full"></p-button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>